* { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, sans-serif; }
body { background-color: #FFFFFF; display: flex; flex-direction: column; min-height: 100vh; margin: auto;}
.header { text-align: center; padding: 20px; }
.container { flex: 1; display: flex; justify-content: center; padding: 20px; }
.card { width: 100%; max-width: 350px; border: 1px solid #DDD; border-radius: 8px; padding: 25px; height: fit-content; }
.hidden { display: none !important; }
header img{width: 120px;}

h1 { font-size: 24px; margin-bottom: 15px; }
label { font-size: 13px; font-weight: 700; display: block; margin-bottom: 5px; }
input { width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #a6a6a6; border-radius: 3px; }

.btn-primary { 
    width: 100%; padding: 10px; background: #FFD814; border: 1px solid #FCD200; 
    border-radius: 8px; cursor: pointer; font-weight: bold; 
}
.btn-secondary { background: #f0f2f2; border: 1px solid #adb1b8; }

.back-link {
    display: block; font-size: 13px; color: #007185; text-decoration: none; margin-bottom: 15px;
}
.status-msg { font-size: 11px; margin-top: -10px; margin-bottom: 10px; font-weight: bold; }
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-box {
    text-align: center;
}

.loader-box i.fa-spin {
    font-size: 3rem;
    color: #0f3845;
    margin-bottom: 15px;
}

.loader-box p {
    font-size: 18px;
    font-weight: bold;
    color: #0F1111;
}

.secure-text {
    font-size: 12px;
    color: #33cfff;
    display: block;
    margin-top: 10px;
}

.hidden { display: none !important; }